@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input,
form {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}


:root {
  /* fonts */
  --header-text: Montserrat;

  /* font sizes */
  --header-text-size: 1.5rem;
  --font-size-lgi: 1.188rem;
  --font-size-lg: 1.125rem;

  /* Colors */
  --color-white: #fff;
  --color-lavender: #ddecfd;
  --color-deepskyblue: rgba(0, 166, 247, 0.2);

  /* Paddings */
  --padding-21xl: 2.5rem;
  --padding-xl: 1.25rem;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-5xs: 8px;
  --br-31xl: 50px;
}

.frame-inner {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  z-index: 2;
}

.frame-inner {
  height: 4.188rem;
  flex-shrink: 0;
}